---
import { menuLinks } from "@/site-config";

import Search from "../Search.astro";
import ThemeToggle from "../ThemeToggle.astro";

const url = new URL(Astro.request.url);
---

<header class="group relative mb-28 flex items-center sm:ps-[4.5rem]" id="main-header">
	<div class="flex sm:flex-col">
		<a
			aria-current={url.pathname === "/" ? "page" : false}
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			href="/"
		>
			<svg
				aria-hidden="true"
				class="me-3 h-10 w-12 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-12 sm:w-16"
				fill="none"
				focusable="false"
				viewBox="0 0 272 480"
				xmlns="http://www.w3.org/2000/svg"
			>
				<title>Logo</title>	
				
<path fill="#FF4F4F" opacity="1.000000" stroke="none" 
	d="
M352.190247,317.482971 
	C342.502930,324.024384 333.042053,330.934143 322.469635,336.102631 
	C309.575562,342.406097 296.184784,347.369598 282.042389,349.954681 
	C265.317200,353.011902 248.578751,353.323669 231.593689,351.218231 
	C213.356720,348.957642 196.387833,343.422974 180.244614,335.006012 
	C170.405518,329.875977 160.860641,324.233307 152.732773,316.396454 
	C151.389771,317.743958 152.043762,319.309235 152.036667,320.677460 
	C151.973648,332.843262 152.174271,345.013519 151.893234,357.173126 
	C151.809509,360.796448 153.098419,363.195129 155.719971,365.195526 
	C165.536713,372.686218 169.733475,382.936096 169.951889,394.926178 
	C170.170395,406.921631 170.013489,418.924194 169.993073,430.923615 
	C169.984756,435.811890 167.083771,438.952301 162.135544,438.966217 
	C136.803589,439.037476 111.471260,439.028198 86.139214,438.975220 
	C81.141029,438.964752 78.065773,435.972382 78.031502,431.054291 
	C77.940918,418.055542 77.409004,405.020416 78.181366,392.067078 
	C78.841713,380.992401 83.705086,371.427765 92.893372,364.565887 
	C95.760246,362.424866 97.135384,360.035522 97.121895,356.086121 
	C96.940376,302.922577 96.807449,249.757111 97.093369,196.594452 
	C97.210342,174.844498 101.803200,153.946442 110.892395,133.979767 
	C118.779549,116.653694 129.412140,101.341759 142.694870,87.908829 
	C163.397430,66.972198 188.575226,53.511879 216.891312,46.241978 
	C233.147980,42.068226 250.037140,41.997654 266.675659,43.184284 
	C284.286438,44.440258 301.058929,49.495941 317.213715,56.918766 
	C335.001984,65.092133 350.952240,75.864769 364.262939,90.004906 
	C384.406555,111.403732 398.275116,136.342957 404.117798,165.522934 
	C406.913696,179.486282 408.063232,193.478775 408.037170,207.673920 
	C407.942657,259.171387 408.006897,310.669067 407.978912,362.166687 
	C407.977570,364.671356 408.358917,366.380371 410.612640,368.360199 
	C419.387848,376.068787 423.655548,386.202789 423.948822,397.829681 
	C424.196716,407.656311 424.008423,417.494141 423.996857,427.327026 
	C423.988708,434.275787 421.362488,436.962280 414.588013,436.999695 
	C404.009613,437.058136 403.988831,437.058167 404.012207,447.554596 
	C404.019592,450.868317 404.060638,454.192047 401.631927,456.819336 
	C399.204071,459.445740 395.814514,459.696564 392.882416,458.742065 
	C389.477997,457.633820 388.285767,454.212677 388.059570,450.837250 
	C387.815002,447.186951 387.902283,443.504395 388.034698,439.842773 
	C388.112488,437.691254 387.403900,436.879669 385.196075,436.962585 
	C381.368317,437.106293 377.526886,437.113525 373.699768,436.961578 
	C371.375763,436.869324 370.916718,437.929718 370.971832,439.947235 
	C371.076416,443.777527 371.042908,447.613312 370.989380,451.445740 
	C370.916382,456.670074 368.895081,458.830566 364.043121,458.999023 
	C359.580017,459.153992 356.248474,456.197906 356.038544,451.596832 
	C355.864014,447.771576 355.883606,443.927338 356.041412,440.100739 
	C356.138794,437.739502 355.390381,436.799316 352.953583,436.961975 
	C350.298920,437.139130 347.620697,437.073578 344.957153,436.983673 
	C340.030243,436.817413 337.059021,433.869415 337.025513,428.871674 
	C336.947235,417.206055 336.525085,405.514526 337.137543,393.880646 
	C337.725342,382.715302 343.376404,373.756836 352.025330,366.289185 
	C352.878723,349.943939 352.378021,333.904175 352.190247,317.482971 
z"/>
<path fill="#FF4040" opacity="1.000000" stroke="none" 
	d="
M351.970093,317.560852 
	C352.263214,317.436218 352.853851,317.774170 352.853546,318.111603 
	C352.839050,333.821381 353.547394,349.537231 352.344849,365.608215 
	C352.108795,349.992432 352.050385,334.007812 351.970093,317.560852 
z"/>

<path fill="#000000" opacity="1.000000" stroke="none" 
	d="
M227.874908,84.949905 
	C217.427567,86.737442 208.046890,90.279053 199.070328,94.985329 
	C187.219376,101.198601 176.570877,109.051674 167.598877,118.966698 
	C153.558167,134.483231 144.005661,152.427170 140.049820,173.072723 
	C137.959595,183.981628 137.772141,195.002167 137.500458,206.169037 
	C136.387085,251.930222 137.490097,297.679749 137.116714,343.429749 
	C137.079636,347.972809 136.002579,349.516327 131.418610,349.090057 
	C126.957832,348.675262 122.397408,348.671417 117.937416,349.090393 
	C113.274498,349.528412 111.815804,348.301849 111.863159,343.283691 
	C112.141464,313.790558 111.999977,284.293427 111.999985,254.797668 
	C111.999985,237.300186 111.892387,219.801865 112.026146,202.305405 
	C112.209686,178.297318 116.596588,155.244202 128.016205,133.826523 
	C137.709763,115.646133 150.541718,100.345901 166.780533,87.426666 
	C182.562607,74.870819 200.201050,66.444923 219.331039,61.582649 
	C235.604752,57.446358 252.437500,56.785278 269.354187,58.857193 
	C291.806274,61.607063 312.183868,69.592842 330.814758,82.033531 
	C356.414276,99.127480 374.134674,122.641541 384.640900,151.421967 
	C391.609467,170.511429 393.850159,190.594009 391.779022,210.652985 
	C388.768036,239.814850 377.806763,265.851746 358.375458,288.354797 
	C345.597839,303.152374 330.822113,314.957092 313.257904,323.236145 
	C299.229218,329.848663 284.649109,334.533630 269.003967,336.145020 
	C248.406036,338.266510 228.461029,336.781128 208.724426,330.126434 
	C190.068420,323.836029 173.567627,314.382812 158.634384,301.545013 
	C154.086609,297.635376 152.768143,294.039581 152.920364,288.615997 
	C153.209076,278.330780 153.003922,268.031677 153.003922,256.269867 
	C155.914368,260.485077 157.910263,263.703369 160.224213,266.673920 
	C175.447159,286.216492 194.837631,300.126648 218.397797,307.567657 
	C234.550690,312.669189 251.298004,313.140472 268.187775,311.135071 
	C286.043854,309.014893 302.371216,302.836151 317.076721,292.878998 
	C331.071594,283.403015 342.343018,271.132996 351.255981,256.560974 
	C359.572021,242.964859 364.703888,228.279892 366.774323,212.757355 
	C369.588715,191.657547 366.634857,171.130524 358.181458,151.351303 
	C351.817444,136.460754 342.736023,123.610046 331.044556,112.662872 
	C316.752289,99.280479 299.858429,89.989197 280.939850,85.272102 
	C269.841492,82.504868 258.240631,80.917503 246.664276,82.099998 
	C240.525970,82.727013 234.256683,82.895470 227.874908,84.949905 
z"/>
<path fill="#000000" opacity="1.000000" stroke="none" 
	d="
M144.577301,375.229828 
	C152.599213,381.743225 155.566803,389.945312 155.066406,399.794098 
	C154.720901,406.594391 154.906891,413.428314 155.047195,420.243256 
	C155.100311,422.823090 154.720612,424.091766 151.624222,424.068146 
	C133.167282,423.927246 114.708687,424.008026 96.250710,423.978149 
	C94.897247,423.975952 92.891243,424.574219 93.039391,422.116272 
	C93.750648,410.315063 91.119102,398.330109 94.988182,386.702087 
	C97.910492,377.919464 107.339127,370.851135 116.542267,371.061646 
	C123.608932,371.223328 130.699844,370.181061 137.772217,371.866425 
	C140.317627,372.473022 142.031326,374.140625 144.577301,375.229828 
z"/>
<path fill="#000000" opacity="1.000000" stroke="none" 
	d="
M352.000000,416.863037 
	C352.535736,408.145691 350.823883,399.814728 353.003571,391.663910 
	C355.550995,382.138214 366.082855,372.961121 377.190613,373.894745 
	C383.695526,374.441498 390.349243,373.337463 396.341888,377.068329 
	C403.119293,381.287750 407.059692,386.946198 408.171082,395.150940 
	C409.204437,402.779572 408.565338,410.354279 409.056580,417.930206 
	C409.269806,421.218201 408.191254,422.106964 404.928345,422.073944 
	C388.782349,421.910492 372.631592,421.856995 356.487640,422.102753 
	C352.594513,422.162018 351.382568,420.938599 352.000000,416.863037 
z"/>
<path fill="#000000" opacity="1.000000" stroke="none" 
	d="
M374.001221,293.991638 
	C381.399567,285.127899 386.859680,275.403809 392.218811,265.190643 
	C393.386505,266.615173 392.976410,267.944855 392.977600,269.118103 
	C393.006287,297.562927 392.955017,326.007965 393.052917,354.452484 
	C393.066193,358.311371 392.727844,359.377045 388.120605,358.398743 
	C382.742981,357.256927 376.866943,357.869659 371.296600,358.505157 
	C368.897461,358.778870 367.981445,359.086060 367.986389,356.381989 
	C368.019409,338.416870 367.996552,320.451660 368.006409,302.486481 
	C368.008698,298.354950 372.297485,297.309143 374.001221,293.991638 
z"/>

			</svg>
			<span class="text-xl font-bold sm:text-2xl">Pluggy</span>
		</a>
		<nav
			aria-label="Main menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={url.pathname === link.path ? "page" : false}
						class="px-4 py-4 underline-offset-2 sm:py-0 sm:hover:underline"
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			aria-expanded="false"
			aria-haspopup="menu"
			aria-label="Open main menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			id="toggle-navigation-menu"
			type="button"
		>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				fill="none"
				focusable="false"
				id="line-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
				></path>
			</svg>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				fill="none"
				focusable="false"
				id="cross-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</button>
	</mobile-button>
</header>

<script>
	import { toggleClass } from "@/utils";

	class MobileNavBtn extends HTMLElement {
		private headerEl: HTMLElement;
		private menuOpen: boolean;
		private mobileButtonEl: HTMLButtonElement;

		toggleMobileMenu = () => {
			toggleClass(this.headerEl, "menu-open");
			this.menuOpen = !this.menuOpen;
			this.mobileButtonEl.setAttribute("aria-expanded", this.menuOpen.toString());
		};

		constructor() {
			super();
			this.headerEl = document.getElementById("main-header")!;
			this.mobileButtonEl = this.querySelector("button") as HTMLButtonElement;
			this.menuOpen = false;

			this.mobileButtonEl.addEventListener("click", this.toggleMobileMenu);
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
