---
import { menuLinks } from "@/site-config";

import Search from "../Search.astro";
import ThemeToggle from "../ThemeToggle.astro";

const url = new URL(Astro.request.url);
---

<header class="group relative mb-28 flex items-center sm:ps-[4.5rem]" id="main-header">
	<div class="flex sm:flex-col">
		<a
			aria-current={url.pathname === "/" ? "page" : false}
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			href="/"
		>
			<svg
				aria-hidden="true"
				class="me-3 h-10 w-16 sm:absolute sm:start-[-6rem] sm:me-0 sm:h-14 sm:w-20"
				fill="none"
				focusable="false"
				viewBox="0 0 272 480"
				xmlns="http://www.w3.org/2000/svg"
			>
				<title>Logo</title>	
				
			
				
			<path d="M0 0 C0.8962207 0.20133545 1.79244141 0.4026709 2.71582031 0.61010742 C10.08384788 2.32680772 16.91948176 4.72817516 23.875 7.6875 C24.92075195 8.12956787 25.96650391 8.57163574 27.04394531 9.02709961 C39.86427613 14.54238448 51.08002396 21.23845876 62 30 C62.53512207 30.42684082 63.07024414 30.85368164 63.62158203 31.29345703 C71.47851655 37.60068213 78.46564296 44.2959818 85 52 C86.04607422 53.21623047 86.04607422 53.21623047 87.11328125 54.45703125 C105.55206319 76.61937304 116.2742414 104.60140025 120 133 C120.08836844 133.64779104 120.17673689 134.29558208 120.26778316 134.96300316 C121.26941902 143.44725237 121.13282186 151.94734127 121.11352539 160.47509766 C121.11324292 162.23024494 121.11340243 163.98539234 121.1139679 165.74053955 C121.11425352 170.47947614 121.10839481 175.21838716 121.10139394 179.95731783 C121.09512125 184.91940969 121.09455351 189.8815022 121.09336853 194.84359741 C121.09026673 204.22850134 121.08206891 213.61339355 121.07201904 222.99829233 C121.06082209 233.68755747 121.05533844 244.37682318 121.05032361 255.06609273 C121.0398853 277.04406835 121.02230823 299.02203343 121 321 C121.62326172 321.29189209 122.24652344 321.58378418 122.88867188 321.88452148 C129.49616156 325.37545816 133.76745161 334.12231059 136 341 C137.54085825 348.5277049 137.29878872 356.18930482 137.35009766 363.84057617 C137.36671679 365.6571122 137.39408451 367.47358129 137.43212891 369.28979492 C137.48690412 371.92400618 137.50876193 374.55670234 137.5234375 377.19140625 C137.54610687 377.99985489 137.56877625 378.80830353 137.59213257 379.64125061 C137.57625043 383.88237094 137.35673916 385.5309955 134.70288086 389.02001953 C131.19413654 391.59033083 128.35732415 391.57186705 124.1875 391.3125 C123.49462891 391.28994141 122.80175781 391.26738281 122.08789062 391.24414062 C120.39098427 391.18562661 118.69520139 391.0959548 117 391 C117.03480469 392.09699219 117.06960938 393.19398438 117.10546875 394.32421875 C117.13361865 395.77863045 117.16091752 397.2330588 117.1875 398.6875 C117.22520508 399.7693457 117.22520508 399.7693457 117.26367188 400.87304688 C117.32652697 405.46146874 116.86703752 408.36934474 114 412 C110.95016004 413.52491998 108.3576631 413.23562548 105 413 C102.38406847 411.16884793 102.03010545 410.09031634 101 407 C100.92943302 404.25917841 100.90663846 401.55153023 100.9375 398.8125 C100.958125 396.234375 100.97875 393.65625 101 391 C95.39 391 89.78 391 84 391 C84.04640625 392.25296875 84.0928125 393.5059375 84.140625 394.796875 C84.17814813 396.44789281 84.21454771 398.09893642 84.25 399.75 C84.28351563 400.575 84.31703125 401.4 84.3515625 402.25 C84.45015812 408.3629284 84.45015812 408.3629284 82.203125 411.54296875 C78.94393465 413.6984262 76.8130821 413.61281677 73 413 C70.64298439 410.87701431 69.18828685 409.19262864 68.68359375 405.99584961 C68.60669401 403.71339454 68.65055749 401.46894073 68.75 399.1875 C68.76804687 398.39923828 68.78609375 397.61097656 68.8046875 396.79882812 C68.85155952 394.86535739 68.9232959 392.93251715 69 391 C68.04738281 391.05800781 67.09476562 391.11601562 66.11328125 391.17578125 C64.85902344 391.22089844 63.60476563 391.26601563 62.3125 391.3125 C61.07113281 391.37050781 59.82976562 391.42851562 58.55078125 391.48828125 C53.93593645 390.85367663 52.80567047 389.68231305 50 386 C49.29838834 382.95650487 49.34548453 380.00650362 49.40625 376.89453125 C49.40620972 376.01528488 49.40616943 375.13603851 49.40612793 374.23014832 C49.41147932 372.37170255 49.42904591 370.51325708 49.45800781 368.6550293 C49.49960911 365.83896026 49.49909327 363.02530693 49.4921875 360.20898438 C49.56562303 339.10588961 49.56562303 339.10588961 55.875 330.1875 C56.34679687 329.50042969 56.81859375 328.81335938 57.3046875 328.10546875 C59 326 59 326 61.57543945 324.06884766 C65.18715222 319.49738159 64.62797882 315.45531336 64.48828125 309.79296875 C64.48120651 308.71243729 64.47413177 307.63190582 64.46684265 306.51863098 C64.43889847 303.07421055 64.37615633 299.63142745 64.3125 296.1875 C64.28741733 293.84963288 64.26460411 291.51174024 64.24414062 289.17382812 C64.18907176 283.44866199 64.10544419 277.72444797 64 272 C63.22873779 272.59022949 62.45747559 273.18045898 61.6628418 273.78857422 C55.87274561 278.18217475 50.10682567 282.47147405 43.8125 286.125 C43.10037354 286.53967529 42.38824707 286.95435059 41.65454102 287.3815918 C20.45538167 299.41530751 -3.69236174 306.01288779 -28 307 C-29.46179688 307.061875 -29.46179688 307.061875 -30.953125 307.125 C-67.57619103 307.87624238 -104.99957463 296.06745158 -133 272 C-133.33 271.67 -133.66 271.34 -134 271 C-134.20350013 277.27995171 -134.34320641 283.55904867 -134.43945312 289.84155273 C-134.4795882 291.97664153 -134.53411159 294.11151176 -134.60351562 296.24584961 C-134.7010119 299.32200052 -134.74602453 302.39523786 -134.78125 305.47265625 C-134.82254028 306.42084732 -134.86383057 307.36903839 -134.90637207 308.34596252 C-134.90907221 312.36950919 -134.87070602 314.95346147 -132.235672 318.12062073 C-130.22565705 319.86976662 -128.1460161 321.42444733 -126 323 C-124.01171875 325.51953125 -124.01171875 325.51953125 -122.6875 327.8125 C-122.23761719 328.56144531 -121.78773438 329.31039063 -121.32421875 330.08203125 C-117.75765492 337.94109669 -116.53308534 345.31447981 -116.53125 353.8984375 C-116.51982971 355.39451035 -116.51982971 355.39451035 -116.50817871 356.92080688 C-116.49745217 359.00984204 -116.49449396 361.0989305 -116.49902344 363.18798828 C-116.50000396 366.38793667 -116.45812749 369.58554806 -116.4140625 372.78515625 C-116.40886072 374.82291169 -116.40616722 376.86067542 -116.40625 378.8984375 C-116.38985474 379.85261566 -116.37345947 380.80679382 -116.35656738 381.78988647 C-116.3658728 382.67826202 -116.37517822 383.56663757 -116.38476562 384.48193359 C-116.38271118 385.26007416 -116.38065674 386.03821472 -116.37854004 386.8399353 C-117.35388192 390.23001946 -119.00233424 391.22826886 -122 393 C-124.80464129 393.39217028 -127.21539472 393.55811085 -130.015625 393.53344727 C-130.80811646 393.54206284 -131.60060791 393.55067841 -132.41711426 393.55955505 C-135.0284114 393.5821991 -137.63863409 393.57547987 -140.25 393.56640625 C-142.06933918 393.57164226 -143.88867563 393.57791866 -145.70800781 393.58518982 C-149.51770824 393.59559089 -153.32703507 393.5910364 -157.13671875 393.57641602 C-162.01624414 393.55922169 -166.89459272 393.58273256 -171.77398682 393.61790562 C-175.52986437 393.6398759 -179.2854601 393.63843919 -183.04138184 393.6301403 C-184.84030448 393.62932071 -186.63924779 393.6361857 -188.43811035 393.65091133 C-190.95426606 393.6683527 -193.46830412 393.6538208 -195.984375 393.63110352 C-196.72530396 393.64279572 -197.46623291 393.65448792 -198.22961426 393.66653442 C-202.07885597 393.59590278 -203.86754607 393.10085224 -206.96252441 390.74429321 C-209.04597806 387.93807176 -209.6244747 386.87018059 -209.61523438 383.46020508 C-209.62453979 382.59192581 -209.63384521 381.72364655 -209.64343262 380.82905579 C-209.62703735 379.90191269 -209.61064209 378.97476959 -209.59375 378.01953125 C-209.59379028 377.0515007 -209.59383057 376.08347015 -209.59387207 375.08610535 C-209.58851826 373.03935248 -209.57094149 370.99260005 -209.54199219 368.94604492 C-209.50037295 365.84033036 -209.50090766 362.73680413 -209.5078125 359.63085938 C-209.49731036 357.63540182 -209.48436677 355.63995533 -209.46875 353.64453125 C-209.46854858 352.72750931 -209.46834717 351.81048737 -209.46813965 350.86567688 C-209.2554107 339.04676628 -205.31806803 328.59774106 -197.05859375 319.97265625 C-192.58117647 316 -192.58117647 316 -190 316 C-190.00184359 315.11892106 -190.00368717 314.23784212 -190.00558662 313.33006382 C-190.04988085 291.82687141 -190.08291238 270.32368694 -190.10362434 248.82045841 C-190.11390838 238.42138588 -190.12791338 228.02234392 -190.15087891 217.62329102 C-190.17090117 208.55260666 -190.18373728 199.48194446 -190.18817699 190.41123861 C-190.19076949 185.61463165 -190.19680218 180.81808806 -190.21146011 176.02150154 C-190.22518413 171.49320503 -190.22919319 166.96499709 -190.22621536 162.43668175 C-190.22675898 160.78772116 -190.23064716 159.13875716 -190.23841095 157.48981476 C-190.30356069 142.91986392 -189.27255059 128.56658099 -185.75 114.375 C-185.53384033 113.49239502 -185.31768066 112.60979004 -185.0949707 111.70043945 C-177.30236615 81.10509044 -158.64191262 51.81876246 -134 32 C-133.06929688 31.23171875 -132.13859375 30.4634375 -131.1796875 29.671875 C-113.80543003 15.60868969 -92.63718726 5.50939483 -71 0 C-69.75605469 -0.3196875 -68.51210937 -0.639375 -67.23046875 -0.96875 C-46.37303637 -5.60860125 -20.68413353 -5.06167618 0 0 Z M-83 20 C-83.62938477 20.24202148 -84.25876953 20.48404297 -84.90722656 20.73339844 C-102.27201683 27.51011468 -117.38885486 37.31912988 -131 50 C-131.74378906 50.67417969 -132.48757812 51.34835938 -133.25390625 52.04296875 C-159.33132908 76.75066836 -173.01578746 111.65184005 -175 147 C-175.1285143 152.26603186 -175.12727472 157.52909657 -175.11352539 162.79614258 C-175.11324258 164.33498635 -175.11340308 165.87383026 -175.1139679 167.41267395 C-175.11425222 171.54814798 -175.10841502 175.6835924 -175.10139394 179.81905961 C-175.09509913 184.15652706 -175.09455179 188.49399536 -175.09336853 192.83146667 C-175.09027315 201.02629504 -175.08208417 209.22110991 -175.07201904 217.41593236 C-175.06080191 226.75341828 -175.0553334 236.09090488 -175.05032361 245.42839587 C-175.03989987 264.61893842 -175.02213163 283.80946762 -175 303 C-166.75 303 -158.5 303 -150 303 C-149.99413376 301.06719681 -149.98826752 299.13439362 -149.98222351 297.14302063 C-149.92481289 278.85731181 -149.85212893 260.57171869 -149.76428509 242.28612995 C-149.71951654 232.88713523 -149.68005946 223.4881768 -149.65356445 214.08911133 C-149.63042963 205.88702613 -149.5968625 197.68505764 -149.55129844 189.48306531 C-149.5275726 185.14912225 -149.50870992 180.81529328 -149.50238609 176.481287 C-149.43371975 135.03307082 -144.72077681 99.28424517 -114.44091797 68.40478516 C-110.55798742 64.61922393 -106.32753416 61.25815794 -102 58 C-101.48026611 57.60216309 -100.96053223 57.20432617 -100.42504883 56.79443359 C-76.37963806 38.89744781 -43.54741238 33.83540762 -14.4375 38.0625 C14.70747499 42.89885002 41.47980593 59.95287723 58.7734375 83.75390625 C77.23060972 110.66252048 83.38485564 141.9130748 78 174 C72.53219297 201.14670021 56.79941229 227.28792743 34.25 243.6875 C32.51734592 244.81869136 30.76514274 245.92020598 29 247 C28.43861328 247.3515918 27.87722656 247.70318359 27.29882812 248.06542969 C17.0124042 254.44954358 6.64131894 258.73912635 -5 262 C-6.13953125 262.3403125 -7.2790625 262.680625 -8.453125 263.03125 C-37.73668407 270.38619042 -69.4590636 264.23014718 -95.0625 249 C-109.60166705 239.52112312 -121.94405657 227.95305145 -131.390625 213.38671875 C-131.92171875 212.59910156 -132.4528125 211.81148437 -133 211 C-133.33 211 -133.66 211 -134 211 C-134.2487353 216.53149045 -134.42933845 222.05967593 -134.54931641 227.59545898 C-134.59935841 229.47461687 -134.66742085 231.35339018 -134.75439453 233.23120117 C-135.55376432 244.15421267 -135.55376432 244.15421267 -131.97119141 254.11328125 C-129.4368086 256.42275856 -126.92489397 258.22027822 -124 260 C-122.78612341 260.92956026 -121.57912228 261.86825075 -120.3828125 262.8203125 C-99.23531849 277.7807699 -76.05562172 288.43021958 -50 291 C-48.83339844 291.13277344 -47.66679687 291.26554687 -46.46484375 291.40234375 C-27.94886505 293.07876502 -9.6501159 290.69997015 8 285 C8.6914209 284.77828125 9.3828418 284.5565625 10.09521484 284.328125 C44.0368196 273.15767579 72.71664034 248.6743878 89.23632812 217.01293945 C90.8999136 213.70940808 92.45616258 210.36071716 94 207 C94.54527344 205.85660156 95.09054687 204.71320313 95.65234375 203.53515625 C107.66464084 176.362301 108.70132032 143.47653364 101 115 C100.81808105 114.32130859 100.63616211 113.64261719 100.44873047 112.94335938 C90.67318434 77.89466317 66.16824452 48.26126389 35.1875 29.6875 C-0.64971509 10.27396863 -44.61854431 5.02386697 -83 20 Z M-110 85 C-129.61765644 108.47857819 -135.84156939 134.71539146 -134 165 C-131.46066912 187.14589527 -120.31446862 206.30097309 -105 222 C-104.34386719 222.72960937 -103.68773437 223.45921875 -103.01171875 224.2109375 C-88.13227315 240.33299205 -63.34081789 250.38445913 -41.68359375 251.2734375 C-12.17427317 251.95749129 13.4911525 243.75343985 35.140625 223.32641602 C54.11210293 204.72893773 64.89942784 180.41527795 66.03125 153.90234375 C65.79633137 124.5668794 55.33732337 99.97578481 35.1875 78.75 C15.57300557 59.86990162 -10.56460699 50.57538797 -37.53613281 50.69726562 C-64.77451837 51.36131656 -92.08347739 64.45522718 -110 85 Z M105 219 C104.24195332 220.20853861 103.53471368 221.44895781 102.84765625 222.69921875 C102.40550781 223.49070312 101.96335937 224.2821875 101.5078125 225.09765625 C101.03085937 225.95230469 100.55390625 226.80695313 100.0625 227.6875 C89.21580803 246.80515233 89.21580803 246.80515233 82.39042664 252.29450989 C80.37499626 254.76662635 80.63921928 256.59794755 80.65942383 259.7565918 C80.65965042 260.93758957 80.65987701 262.11858734 80.66011047 263.33537292 C80.67559433 264.61044205 80.69107819 265.88551117 80.70703125 267.19921875 C80.71127609 268.50454056 80.71552094 269.80986237 80.71989441 271.15473938 C80.73133911 274.62205279 80.76080246 278.08898813 80.79400635 281.55615234 C80.82471567 285.09532558 80.83840155 288.63456001 80.85351562 292.17382812 C80.88567303 299.11605622 80.9384376 306.05797103 81 313 C89.25 313 97.5 313 106 313 C106 281.98 106 250.96 106 219 C105.67 219 105.34 219 105 219 Z M-189.83056641 335.09692383 C-195.06045145 343.60777016 -194.35327402 352.9197333 -194.1875 362.5625 C-194.125625 367.656875 -194.06375 372.75125 -194 378 C-173.54 378 -153.08 378 -132 378 C-131.9175 372.76125 -131.835 367.5225 -131.75 362.125 C-131.71358398 360.49320801 -131.67716797 358.86141602 -131.63964844 357.18017578 C-131.56830022 347.78867895 -132.03589077 339.9010805 -138.1484375 332.34375 C-138.88320312 331.7353125 -139.61796875 331.126875 -140.375 330.5 C-141.10460937 329.8709375 -141.83421875 329.241875 -142.5859375 328.59375 C-148.91223905 324.41716257 -155.40948357 324.60308025 -162.75 324.5625 C-164.30074219 324.51319336 -164.30074219 324.51319336 -165.8828125 324.46289062 C-175.50048144 324.39626949 -183.87331042 327.19880929 -189.83056641 335.09692383 Z M71.1875 335.8125 C70.64480469 336.43769531 70.10210937 337.06289063 69.54296875 337.70703125 C64.22420515 345.61111792 64.63650402 352.59206159 64.8125 361.9375 C64.874375 366.578125 64.93625 371.21875 65 376 C83.81 376 102.62 376 122 376 C123.50027906 354.78362695 123.50027906 354.78362695 115.78515625 335.7578125 C109.04040148 329.11636907 102.43934612 327.78634671 93.3125 327.6875 C92.43916016 327.65849609 91.56582031 327.62949219 90.66601562 327.59960938 C82.72517883 327.52251387 76.41469331 329.56784814 71.1875 335.8125 Z " fill="#FF4E4E" transform="translate(286,45)"/>

			</svg>
			<span class="text-xl font-bold sm:text-2xl">marin_kresic</span>
		</a>
		<nav
			aria-label="Main menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={url.pathname === link.path ? "page" : false}
						class="px-4 py-4 underline-offset-2 sm:py-0 sm:hover:underline"
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			aria-expanded="false"
			aria-haspopup="menu"
			aria-label="Open main menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			id="toggle-navigation-menu"
			type="button"
		>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				fill="none"
				focusable="false"
				id="line-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
				></path>
			</svg>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				fill="none"
				focusable="false"
				id="cross-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</button>
	</mobile-button>
</header>

<script>
	import { toggleClass } from "@/utils";

	class MobileNavBtn extends HTMLElement {
		private headerEl: HTMLElement;
		private menuOpen: boolean;
		private mobileButtonEl: HTMLButtonElement;

		toggleMobileMenu = () => {
			toggleClass(this.headerEl, "menu-open");
			this.menuOpen = !this.menuOpen;
			this.mobileButtonEl.setAttribute("aria-expanded", this.menuOpen.toString());
		};

		constructor() {
			super();
			this.headerEl = document.getElementById("main-header")!;
			this.mobileButtonEl = this.querySelector("button") as HTMLButtonElement;
			this.menuOpen = false;

			this.mobileButtonEl.addEventListener("click", this.toggleMobileMenu);
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
