---
import { menuLinks } from "@/site-config";

import Search from "../Search.astro";
import ThemeToggle from "../ThemeToggle.astro";

const url = new URL(Astro.request.url);
---

<header class="group relative mb-28 flex items-center sm:ps-[4.5rem]" id="main-header">
	<div class="flex sm:flex-col">
		<a
			aria-current={url.pathname === "/" ? "page" : false}
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			href="/"
		>
			<svg
				aria-hidden="true"
				class="me-3 h-10 w-16 sm:absolute sm:start-[-6rem] sm:me-0 sm:h-12 sm:w-20"
				fill="none"
				focusable="false"
				viewBox="0 0 272 480"
				xmlns="http://www.w3.org/2000/svg"
			>
				<title>Logo</title>	
				
			
				
			<path fill="#9FE4A4" opacity="1.000000" stroke="none" 
				d="
			M392.971069,318.949707 
				C399.559326,315.694733 405.734222,312.430115 412.080719,309.542694 
				C413.602661,308.850311 416.010376,308.770782 417.478149,309.492523 
				C441.329590,321.220734 465.064117,333.186768 488.916199,344.913605 
				C492.197998,346.527039 492.967468,348.723175 492.938721,352.012817 
				C492.717621,377.324799 484.773071,400.358246 472.217834,421.970947 
				C460.128571,442.781555 445.253357,461.031464 424.743561,474.381042 
				C417.689789,478.972260 412.245819,479.230194 405.027802,474.526031 
				C383.784912,460.681641 368.448792,441.769104 356.204895,420.060364 
				C344.617920,399.516357 337.084229,377.721191 336.688416,353.793365 
				C336.607330,348.894867 337.903534,346.067383 342.602844,343.837921 
				C359.408386,335.864929 375.968018,327.373657 392.971069,318.949707 
			M408.482330,425.229767 
				C410.126984,424.148438 412.026306,423.318024 413.376984,421.947052 
				C427.274597,407.840607 441.128113,393.689880 454.891235,379.452240 
				C459.361145,374.828186 459.448395,368.763916 455.476501,364.731842 
				C451.343231,360.535950 445.175873,360.744843 440.441071,365.480713 
				C434.088196,371.835052 427.925415,378.379089 421.601898,384.763306 
				C416.137207,390.280426 410.561951,395.688110 404.828979,401.348053 
				C400.597748,397.417572 396.517151,393.534973 392.334656,389.765442 
				C387.239166,385.173004 381.335358,385.163391 377.279968,389.622406 
				C373.457336,393.825470 373.853333,399.840088 378.484070,404.287811 
				C384.964478,410.512085 391.341278,416.887054 398.273895,422.574097 
				C400.642059,424.516724 404.552643,424.579041 408.482330,425.229767 
			z"/>
			<path fill="#FDCB68" opacity="1.000000" stroke="none" 
				d="
			M228.474716,43.547199 
				C231.536987,48.666412 234.749008,53.346752 237.073105,58.432835 
				C239.712296,64.208435 239.088074,70.159050 237.534225,76.432541 
				C235.642960,84.068375 233.720398,92.267296 234.592438,99.905106 
				C236.826538,119.472282 255.769989,129.819443 275.993011,123.607933 
				C284.165466,121.097763 290.767395,116.292122 296.003204,109.079697 
				C301.188385,115.303711 302.675385,122.329163 302.963867,129.692871 
				C303.113403,133.510468 303.209686,137.405334 302.643005,141.161636 
				C300.983734,152.160019 298.979614,163.106369 297.076813,174.271362 
				C245.002899,174.271362 193.461960,174.271362 140.422272,174.271362 
				C142.407700,162.285980 144.000992,150.668945 146.347183,139.206024 
				C147.916443,131.539108 147.499268,128.956070 140.368332,123.559845 
				C144.560791,117.894531 148.760788,112.219040 153.119690,106.328812 
				C158.402374,110.324768 163.347809,111.927956 168.277023,107.823792 
				C173.431625,103.531937 172.521500,98.218086 169.835434,93.291855 
				C175.476044,88.179550 180.778763,83.373489 186.260864,78.404839 
				C194.422318,81.923241 198.396851,81.129509 203.068085,72.830551 
				C209.554703,61.306313 215.247955,49.335499 221.442017,37.241142 
				C223.319916,38.913296 225.776123,41.100399 228.474716,43.547199 
			z"/>
			<path fill="#FC9A99" opacity="1.000000" stroke="none" 
				d="
			M273.792603,313.491852 
				C272.420959,314.184937 271.156555,314.640106 269.891541,314.641937 
				C242.069305,314.682129 214.247009,314.674225 186.424728,314.662506 
				C185.459366,314.662109 184.494049,314.527618 183.294037,314.438110 
				C183.294037,297.930939 183.294037,281.682037 183.294037,265.088348 
				C213.366074,265.088348 243.393799,265.088348 273.899567,265.088348 
				C273.899567,281.148834 273.899567,297.095825 273.792603,313.491852 
			z"/>
			<path fill="#FC9A99" opacity="1.000000" stroke="none" 
				d="
			M273.929626,449.763092 
				C273.858551,451.530548 273.787476,452.824829 273.701599,454.388794 
				C243.573914,454.388794 213.672348,454.388794 183.403656,454.388794 
				C183.403656,437.994751 183.403656,421.642578 183.403656,405.050781 
				C213.409744,405.050781 243.325775,405.050781 273.929688,405.050781 
				C273.929688,419.785004 273.929688,434.537476 273.929626,449.763092 
			z"/>
			<path fill="#FD7A78" opacity="1.000000" stroke="none" 
				d="
			M329.266296,213.000732 
				C329.266327,223.643997 329.266327,233.787506 329.266327,244.250183 
				C298.970703,244.250183 269.076721,244.250183 238.876556,244.250183 
				C238.876556,227.839523 238.876556,211.591095 238.876556,195.044220 
				C268.888947,195.044220 298.783600,195.044220 329.266296,195.044220 
				C329.266296,200.948517 329.266296,206.724731 329.266296,213.000732 
			z"/>
			<path fill="#FD9B9A" opacity="1.000000" stroke="none" 
				d="
			M156.000153,194.745483 
				C176.951706,194.745483 197.403275,194.745483 218.097168,194.745483 
				C218.097168,211.504135 218.097168,227.759048 218.097168,244.292023 
				C187.967239,244.292023 158.046844,244.292023 127.910446,244.292023 
				C127.910446,227.766235 127.910446,211.510788 127.910446,194.745483 
				C137.262741,194.745483 146.381439,194.745483 156.000153,194.745483 
			z"/>
			<path fill="#FD9B9A" opacity="1.000000" stroke="none" 
				d="
			M187.999802,384.671570 
				C167.736420,384.671539 147.973038,384.671539 127.941833,384.671539 
				C127.941833,367.912598 127.941833,351.676697 127.941833,335.127319 
				C157.865585,335.127319 187.735809,335.127319 217.974792,335.127319 
				C217.974792,351.434021 217.974792,367.779633 217.974792,384.671570 
				C208.057144,384.671570 198.278488,384.671570 187.999802,384.671570 
			z"/>
			<path fill="#FD7A78" opacity="1.000000" stroke="none" 
				d="
			M74.999863,384.674133 
				C56.880280,384.674133 39.260708,384.674133 21.364029,384.674133 
				C21.364029,367.929169 21.364029,351.695038 21.364029,335.137146 
				C49.866081,335.137146 78.268425,335.137146 107.059845,335.137146 
				C107.059845,351.462341 107.059845,367.811768 107.059845,384.674164 
				C96.403328,384.674164 85.951591,384.674164 74.999863,384.674133 
			z"/>
			<path fill="#FB9998" opacity="1.000000" stroke="none" 
				d="
			M393.999695,244.576797 
				C379.043335,244.576782 364.586945,244.576782 349.796295,244.576782 
				C349.796295,227.899155 349.796295,211.668732 349.796295,194.982986 
				C351.419434,194.901047 353.015411,194.751266 354.611450,194.750275 
				C378.929352,194.735367 403.247253,194.732697 427.565155,194.744431 
				C434.654175,194.747849 435.876831,196.006943 435.882904,203.245529 
				C435.894287,216.729126 435.886169,230.212708 435.886169,244.576813 
				C421.954742,244.576813 408.227234,244.576813 393.999695,244.576797 
			z"/>
			<path fill="#FC7A78" opacity="1.000000" stroke="none" 
				d="
			M61.000092,194.746094 
				C76.627800,194.746078 91.755508,194.746078 107.161812,194.746078 
				C107.161812,211.400604 107.161812,227.638458 107.161812,244.226288 
				C78.496513,244.226288 49.980820,244.226288 21.097349,244.226288 
				C21.097349,229.337646 21.015223,214.714478 21.152334,200.093353 
				C21.188789,196.205902 23.789240,194.710999 27.534887,194.729843 
				C38.523037,194.785141 49.511658,194.747406 61.000092,194.746094 
			z"/>
			<path fill="#FC7A78" opacity="1.000000" stroke="none" 
				d="
			M88.104279,264.745789 
				C113.187370,264.745758 137.784119,264.745758 162.673767,264.745758 
				C162.673767,281.337769 162.673767,297.578339 162.673767,314.248047 
				C136.098297,314.248047 109.448616,314.248047 82.464905,314.248047 
				C82.464905,298.005524 82.464905,281.794220 82.464905,264.998444 
				C84.129120,264.916870 85.873520,264.831329 88.104279,264.745789 
			z"/>
			<path fill="#FC7A78" opacity="1.000000" stroke="none" 
				d="
			M127.999863,454.675537 
				C112.549828,454.675507 97.599800,454.675507 82.395096,454.675507 
				C82.395096,437.865692 82.395096,421.630585 82.395096,405.104309 
				C109.176819,405.104309 135.756699,405.104309 162.653015,405.104309 
				C162.653015,421.366760 162.653015,437.623077 162.653015,454.675568 
				C151.331238,454.675568 139.915543,454.675568 127.999863,454.675537 
			z"/>
			<path fill="#FC7A78" opacity="1.000000" stroke="none" 
				d="
			M243.222076,334.814301 
				C269.012421,334.814209 294.326202,334.814209 320.080414,334.814209 
				C313.504913,351.396271 317.621948,367.688232 320.098389,384.330780 
				C292.935944,384.330780 266.066071,384.330780 238.882568,384.330780 
				C238.882568,367.957947 238.882568,351.707123 238.882568,335.146667 
				C240.202835,335.033112 241.474167,334.923737 243.222076,334.814301 
			z"/>
			<path fill="#FC7A78" opacity="1.000000" stroke="none" 
				d="
			M354.999756,264.746704 
				C361.780060,264.746704 368.060486,264.746704 374.806061,264.746704 
				C374.806061,278.122040 374.869690,290.912598 374.688934,303.699738 
				C374.673950,304.757721 373.197998,306.122650 372.071625,306.785706 
				C362.784485,312.252258 353.186066,315.615417 341.912140,314.892090 
				C327.806488,313.987152 313.598694,314.674469 299.434998,314.674438 
				C297.804993,314.674408 296.175018,314.674438 294.274841,314.674438 
				C294.274841,297.962738 294.274841,281.713074 294.274841,264.746735 
				C314.347961,264.746735 334.423920,264.746735 354.999756,264.746704 
			z"/>
			<path fill="#FC7977" opacity="1.000000" stroke="none" 
				d="
			M353.566223,454.220154 
				C333.738434,454.535583 314.150146,454.535583 294.281067,454.535583 
				C294.281067,438.004028 294.281067,421.781281 294.281067,404.855316 
				C304.608978,404.855316 315.000641,404.821075 325.390778,404.931519 
				C326.091095,404.938965 327.133209,405.901825 327.421997,406.649780 
				C333.986847,423.651917 343.676453,438.899445 353.566223,454.220154 
			z"/>
			<path fill="#FC9A99" opacity="1.000000" stroke="none" 
				d="
			M62.045105,270.075867 
				C62.045113,285.021118 62.045113,299.472198 62.045113,314.298218 
				C48.461048,314.298218 35.112068,314.298218 21.419888,314.298218 
				C21.419888,297.947021 21.419888,281.613831 21.419888,265.011353 
				C34.772751,265.011353 48.012920,265.011353 62.045097,265.011353 
				C62.045097,266.450439 62.045097,268.016052 62.045105,270.075867 
			z"/>
			<path fill="#FC9A99" opacity="1.000000" stroke="none" 
				d="
			M62.044769,425.000244 
				C62.044769,434.975616 62.044769,444.451080 62.044769,454.673981 
				C55.746700,454.673981 49.666565,454.674561 43.586433,454.673767 
				C38.262112,454.673065 32.937767,454.680145 27.613478,454.666168 
				C23.699394,454.655914 21.135269,452.954742 21.115364,448.795471 
				C21.046230,434.350586 21.088669,419.905121 21.088669,405.137970 
				C34.792931,405.137970 48.158241,405.137970 62.044769,405.137970 
				C62.044769,411.623871 62.044769,418.062103 62.044769,425.000244 
			z"/>
			<path fill="#FC9A99" opacity="1.000000" stroke="none" 
				d="
			M398.098145,264.747131 
				C410.861481,264.745575 423.131744,264.745575 435.638306,264.745575 
				C435.638306,275.204498 435.638306,285.142975 435.638306,295.820984 
				C430.892487,293.499023 426.264526,291.456238 421.855347,289.017853 
				C417.035675,286.352478 412.500092,286.318329 407.699890,289.040375 
				C403.831726,291.233948 399.745697,293.043365 394.936035,295.430328 
				C394.936035,285.427124 394.881744,276.062653 395.050934,266.702209 
				C395.062958,266.035828 396.715393,265.399139 398.098145,264.747131 
			z"/>
			<path fill="#020302" opacity="1.000000" stroke="none" 
				d="
			M408.120422,425.365112 
				C404.552643,424.579041 400.642059,424.516724 398.273895,422.574097 
				C391.341278,416.887054 384.964478,410.512085 378.484070,404.287811 
				C373.853333,399.840088 373.457336,393.825470 377.279968,389.622406 
				C381.335358,385.163391 387.239166,385.173004 392.334656,389.765442 
				C396.517151,393.534973 400.597748,397.417572 404.828979,401.348053 
				C410.561951,395.688110 416.137207,390.280426 421.601898,384.763306 
				C427.925415,378.379089 434.088196,371.835052 440.441071,365.480713 
				C445.175873,360.744843 451.343231,360.535950 455.476501,364.731842 
				C459.448395,368.763916 459.361145,374.828186 454.891235,379.452240 
				C441.128113,393.689880 427.274597,407.840607 413.376984,421.947052 
				C412.026306,423.318024 410.126984,424.148438 408.120422,425.365112 
			z"/>
			</svg>
			<span class="text-xl font-bold sm:text-2xl">Marin K.</span>
		</a>
		<nav
			aria-label="Main menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={url.pathname === link.path ? "page" : false}
						class="px-4 py-4 underline-offset-2 sm:py-0 sm:hover:underline"
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			aria-expanded="false"
			aria-haspopup="menu"
			aria-label="Open main menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			id="toggle-navigation-menu"
			type="button"
		>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				fill="none"
				focusable="false"
				id="line-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
				></path>
			</svg>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				fill="none"
				focusable="false"
				id="cross-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</button>
	</mobile-button>
</header>

<script>
	import { toggleClass } from "@/utils";

	class MobileNavBtn extends HTMLElement {
		private headerEl: HTMLElement;
		private menuOpen: boolean;
		private mobileButtonEl: HTMLButtonElement;

		toggleMobileMenu = () => {
			toggleClass(this.headerEl, "menu-open");
			this.menuOpen = !this.menuOpen;
			this.mobileButtonEl.setAttribute("aria-expanded", this.menuOpen.toString());
		};

		constructor() {
			super();
			this.headerEl = document.getElementById("main-header")!;
			this.mobileButtonEl = this.querySelector("button") as HTMLButtonElement;
			this.menuOpen = false;

			this.mobileButtonEl.addEventListener("click", this.toggleMobileMenu);
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
