---
import { menuLinks } from "@/site-config";

import Search from "../Search.astro";
import ThemeToggle from "../ThemeToggle.astro";

const url = new URL(Astro.request.url);
---

<header class="group relative mb-28 flex items-center sm:ps-[4.5rem]" id="main-header">
	<div class="flex sm:flex-col">
		<a
			aria-current={url.pathname === "/" ? "page" : false}
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			href="/"
		>
			<svg
				aria-hidden="true"
				class="me-3 h-10 w-14 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-8 sm:w-20"
				fill="none"
				focusable="false"
				viewBox="0 0 272 480"
				xmlns="http://www.w3.org/2000/svg"
			>
				<title>Logo</title>	
				
			
			<path fill="#FF0000" opacity="1.000000" stroke="none" 
				d="
			M422.615479,78.256844 
				C434.819458,83.894707 445.834320,90.635094 454.759460,100.305092 
				C468.246155,114.917274 477.395020,131.720612 480.050110,151.700424 
				C482.767731,172.150833 481.294220,192.141815 471.608398,210.653320 
				C457.598419,237.429047 435.546173,254.536713 406.006317,260.861023 
				C376.702087,267.134857 349.047363,262.506073 325.216858,243.446487 
				C308.942291,230.430130 297.474213,213.821869 291.770844,193.307419 
				C289.495728,185.124100 288.294586,176.805588 288.301422,168.647064 
				C288.311920,156.120407 290.712036,143.728867 295.485199,131.883881 
				C300.512482,119.408211 307.632416,108.179832 316.974457,98.813339 
				C331.594879,84.154678 349.099915,74.565430 370.146027,71.885689 
				C388.141479,69.594376 405.447052,71.399345 422.615479,78.256844 
			z"/>
			<path fill="#FF0000" opacity="1.000000" stroke="none" 
				d="
			M293.978394,82.999962 
				C299.221832,83.732323 304.008972,84.464302 309.429535,85.293129 
				C298.966095,95.466560 290.649231,106.405495 284.540588,118.939926 
				C281.390656,125.403313 279.121552,132.241043 277.257935,139.123367 
				C276.501770,141.915817 275.442657,142.071747 273.353516,142.005081 
				C268.078583,141.836700 262.713226,141.199295 257.569641,141.330612 
				C250.159943,141.519760 242.632706,141.242783 235.290878,142.194595 
				C225.269272,143.493820 215.234894,144.775131 205.293015,146.863205 
				C188.646835,150.359344 172.585693,155.503098 156.931549,162.028290 
				C135.990601,170.757217 117.005974,182.846802 99.089737,196.590454 
				C92.041054,201.997543 85.691063,208.332291 79.162834,214.395279 
				C74.499588,218.726196 70.576683,219.813568 66.183060,215.924438 
				C55.008587,206.033066 44.168556,195.726685 34.702183,184.140488 
				C31.539907,180.270081 32.286701,175.233688 35.696434,171.811737 
				C56.205215,151.229523 79.251816,134.060593 104.693382,120.013733 
				C122.454460,110.207436 140.895447,102.051224 160.228882,95.937706 
				C177.494339,90.478127 195.078842,86.558128 213.023575,83.840096 
				C233.447113,80.746613 253.920349,80.874207 274.424469,81.093788 
				C280.796417,81.162033 287.156555,82.333290 293.978394,82.999962 
			z"/>
			<path fill="#FF0000" opacity="1.000000" stroke="none" 
				d="
			M296.937073,326.991272 
				C283.032471,319.118896 268.454254,315.154327 252.845062,316.074768 
				C236.817368,317.019867 222.290192,322.526001 209.389587,332.147003 
				C207.286057,333.715790 205.226364,335.377960 203.341660,337.199036 
				C198.049622,342.312469 192.521576,342.849396 187.346741,337.720917 
				C177.087387,327.553467 167.024353,317.173889 157.234787,306.555054 
				C154.314835,303.387726 155.431808,299.204803 158.302643,296.277557 
				C170.113541,284.234680 183.607544,274.660431 199.154846,267.813171 
				C209.219864,263.380371 219.385132,259.658966 230.256577,257.994843 
				C242.083618,256.184418 253.777832,254.594101 265.965149,255.716553 
				C278.778564,256.896667 291.287689,258.846680 303.352722,263.061951 
				C322.767548,269.845062 339.964905,280.379089 354.527161,295.021790 
				C359.451538,299.973358 359.425201,304.055847 354.440826,309.058624 
				C344.679504,318.855957 334.893860,328.629181 325.101990,338.396057 
				C321.327179,342.161285 315.754242,342.225616 312.034485,338.546631 
				C307.574951,334.136047 302.391937,330.663422 296.937073,326.991272 
			z"/>
			<path fill="#FF0000" opacity="1.000000" stroke="none" 
				d="
			M147.232132,196.255402 
				C168.648468,184.326172 191.120697,176.444824 214.851486,171.948776 
				C231.950623,168.709167 249.169281,167.661026 266.522736,167.984406 
				C273.996033,168.123672 273.770721,168.054123 274.045380,175.399231 
				C274.694641,192.762421 280.394318,208.613815 289.026093,223.523331 
				C289.679626,224.652145 290.478851,225.723755 290.950989,226.923965 
				C291.637634,228.669495 294.521423,230.107925 293.243591,231.782394 
				C292.062561,233.330002 289.319305,232.108734 287.379761,231.708206 
				C271.570679,228.443573 255.711090,228.406143 239.677643,229.854034 
				C219.724747,231.655884 200.927933,237.296890 183.156281,246.152008 
				C169.379684,253.016510 156.337692,261.222107 145.301254,272.200806 
				C143.884140,273.610504 142.529358,275.087524 141.055481,276.434692 
				C135.752106,281.282074 130.817337,281.195160 125.504677,275.957886 
				C116.488083,267.069214 107.558319,258.092133 98.625374,249.119049 
				C92.354599,242.820084 92.472443,237.259506 99.089752,231.437027 
				C110.532967,221.368332 122.056427,211.387527 135.111877,203.392151 
				C139.005157,201.007828 143.007523,198.801620 147.232132,196.255402 
			z"/>
			<path fill="#FF0000" opacity="1.000000" stroke="none" 
				d="
			M278.640869,351.266785 
				C298.692383,359.928833 307.849365,383.726044 304.201569,404.026428 
				C299.477692,430.315186 276.619568,445.677826 251.077042,442.824829 
				C230.994659,440.581665 213.893784,427.120178 209.887695,404.122864 
				C206.888229,386.904175 210.737427,371.736053 223.225266,359.476807 
				C230.832687,352.008636 240.321457,347.968353 251.244965,346.843170 
				C260.802307,345.858673 269.674133,347.196198 278.640869,351.266785 
			z"/>
			<path fill="#000000" opacity="1.000000" stroke="none" 
				d="
			M346.203674,160.000000 
				C373.135590,160.000061 399.592651,160.018448 426.049591,159.978455 
				C429.617340,159.973053 432.260712,160.992294 434.166016,164.345352 
				C435.858124,167.323181 434.500519,169.439560 433.036163,171.570114 
				C431.389648,173.965729 428.897400,175.008728 425.950989,175.007217 
				C398.661987,174.993240 371.372925,175.034317 344.084076,174.969254 
				C338.612732,174.956207 334.915497,171.666824 335.005035,167.355194 
				C335.106964,162.445724 338.651123,160.014893 346.203674,160.000000 
			z"/>
			</svg>
			<span class="text-xl font-bold sm:text-2xl">Marin</span>
		</a>
		<nav
			aria-label="Main menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={url.pathname === link.path ? "page" : false}
						class="px-4 py-4 underline-offset-2 sm:py-0 sm:hover:underline"
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			aria-expanded="false"
			aria-haspopup="menu"
			aria-label="Open main menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			id="toggle-navigation-menu"
			type="button"
		>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				fill="none"
				focusable="false"
				id="line-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
				></path>
			</svg>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				fill="none"
				focusable="false"
				id="cross-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</button>
	</mobile-button>
</header>

<script>
	import { toggleClass } from "@/utils";

	class MobileNavBtn extends HTMLElement {
		private headerEl: HTMLElement;
		private menuOpen: boolean;
		private mobileButtonEl: HTMLButtonElement;

		toggleMobileMenu = () => {
			toggleClass(this.headerEl, "menu-open");
			this.menuOpen = !this.menuOpen;
			this.mobileButtonEl.setAttribute("aria-expanded", this.menuOpen.toString());
		};

		constructor() {
			super();
			this.headerEl = document.getElementById("main-header")!;
			this.mobileButtonEl = this.querySelector("button") as HTMLButtonElement;
			this.menuOpen = false;

			this.mobileButtonEl.addEventListener("click", this.toggleMobileMenu);
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
