---
// src/pages/success.astro

import PageLayout from "@/layouts/Base.astro";

const meta = {
  description: "Form submission successful",
  title: "Success",
};
---

<PageLayout meta={meta}>
  <div class="space-y-6">
    <h1 class="title">Thank you!</h1>
    <p>Your form has been submitted successfully.</p>
    <button 
      onclick="window.location.href='/'" 
      class="tag mt-4 px-2 py-1 border border-transparent shadow-sm text-sm font-bold rounded-md"
    >
      Go back
    </button>
  </div>
</PageLayout>
